@font-face {
  font-family: 'ankeregular';
  src: url('../fonts/Anke-webfont.eot');
  src: url('../fonts/Anke-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Anke-webfont.woff2') format('woff2'), url('../fonts/Anke-webfont.woff') format('woff'), url('../fonts/Anke-webfont.ttf') format('truetype'), url('../fonts/Anke-webfont.svg#ankeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
  min-height: 100vh;
}
h1,
h2,
h3 {
  font-family: 'ankeregular';
}
nav {
  background: #AE6316;
  font-size: 1.2rem;
  padding: 5px;
}
nav a {
  padding: 10px;
  display: inline-block;
  letter-spacing: 1px;
  color: #FEEAB5;
}
.home-page {
  background-image: url("../images/whiskey.jpg");
  min-height: 100vh;
  padding-left: 4rem;
  padding-top: 2rem;
}
.home-page h2 {
  font-size: 2.5rem;
}
.home-page p {
  font-size: 1.3rem;
}
.products-page {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product {
  border: 1px solid #ccc;
  width: 170px;
  padding: 5px;
  border-radius: 3px;
  display: inline-block;
  margin: 5px;
}
.product .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product .seller-and-price {
  margin-top: 5px;
}
.product .seller-and-price .seller {
  font-size: 13px;
  color: #999;
  width: 75px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product .seller-and-price .price {
  font-size: 13px;
  color: #999;
  width: 89px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  color: #449689;
}
.terms-page {
  padding: 1rem;
}
