<a class="home" data-name="home" href="/">Home</a>
<a class="products" data-name="products" href="/products"><i style="display:none" class="fa fa-spinner fa-spin"></i>Products</a>
<a class="terms" data-name="terms" href="/terms">Terms &amp; Conditions</a>
