<a class="home" data-name="home" href="#">Home</a>
<a class="products" data-name="products" href="#"><i style="display:none" class="fa fa-spinner fa-spin"></i>Products</a>
<a class="terms" data-name="terms" href="#">Terms &amp; Conditions</a>
